@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.header-container {

    background-image: url(./image/Untitled\ design.png);
    height: 85vh;
    /* color: #fff; */
    min-height: 500px;
    background-size: cover;
    /* background-attachment: fixed; */
    font-family: "Ubuntu", sans-serif;
}

/* .navbar {
    padding: 15px 220px;
} */

.navbar-brand {
    font-weight: 500;
    font-size: 30px;
}

.navbar-nav li a {
    font-weight: 500;
    font-size: 20px;
}

.navbar-brand span {
    color: #d35400;
    font-weight: 500;
    font-size: 30px;
}



.header-information {
    display: flex;
    height: 75vh;
    padding-top: 70px;
    color: black;
    min-height: 500px;
    /* background-size: cover; */
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
}

.header-information .max-width {
    margin: auto 0 auto 30px;
}

.home-content .text-1 {
    font-size: 20px;
}

.home-content .text-2 {
    font-size: 55px;
    font-weight: 600;
    margin-left: -3px;
}

.home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}



.home-content .text-4 {
    font-weight: 400;
    font-size: 30px;
}

.home-content .text-4 span {
    color: crimson;
    font-weight: 500;
    font-size: 30px;
}

.home-content .text-4 p {
    color: crimson;
    font-weight: 500;
    font-size: 30px;
}


.home-content a {
    display: inline-block;
    text-decoration: none;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home-content a:hover {
    color: crimson;
    background: none;
}



.set-color {
    color: #f6b93b;
}

.card .Pen {
    filter: #f6b93b;
}

/* About Us Section */
.about-us-image {
    width: 50%;
}

.img-service {
    height: 150px;
    width: 150px;
}

.about-us-image img {
    /* height: 650px;
    width: 100%; */
    border-radius: 6px;
}

/* Expertise section start */
.expertise-container {
    background-color: #f1f2f6;
}


/* contact section styling */
.icon {
    color: #f6b93b;
}